In [1]:
import pandas as pd

In [48]:
#conhecendo os dados
df = pd.read_csv('dados/aluguel_residencial.csv', sep=';')
df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

Selecione somente os imóveis classificados com tipo 'Apartamento'

In [17]:
aptos = df[df['Tipo'] == 'Apartamento']
aptos

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
21819,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0,19.23,Apartamento
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'

In [39]:
filtro = ['Casa', 'Casa de Condomínio', 'Casa de Vila' ]
filtro

['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [40]:
select = df['Tipo'].isin(filtro)
select

0        False
1         True
2        False
3        False
4        False
         ...
21821    False
21822    False
21823    False
21824    False
21825    False
Name: Tipo, Length: 21826, dtype: bool

In [49]:
dados_residencial = df[select]
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,17.39,Casa
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,16.09,Casa
...,...,...,...,...,...,...,...,...,...,...,...
21791,Casa de Condomínio,Freguesia (Jacarepaguá),3,3,1,155,2000.0,530.0,1250.0,12.90,Casa
21793,Casa,Bento Ribeiro,2,1,0,60,1400.0,0.0,0.0,23.33,Casa
21801,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,0.0,20.00,Casa
21804,Casa,Centro,5,0,1,160,5000.0,0.0,80.0,31.25,Casa
21820,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0,33.33,Casa

Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites

In [52]:
df = df[df['Area'].between(60, 100)]
df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
1905,Casa,Campo Grande,4,1,4,100,1600.0,0.0,0.0,16.00,Casa
2267,Casa de Vila,Méier,4,0,1,85,1600.0,0.0,0.0,18.82,Casa
4100,Casa,Campo Grande,4,4,4,100,2000.0,0.0,2.0,20.00,Casa
6573,Casa,Riachuelo,4,0,1,100,1800.0,0.0,40.0,18.00,Casa
12864,Apartamento,Camorim,4,1,1,96,1350.0,747.0,0.0,14.06,Apartamento
14510,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,0.0,0.0,13.00,Casa
17658,Casa,Braz de Pina,4,1,0,99,1800.0,0.0,0.0,18.18,Casa
17830,Casa,Campo Grande,4,1,3,100,1600.0,0.0,0.0,16.00,Casa
18039,Casa de Condomínio,Freguesia (Jacarepaguá),4,3,1,63,2000.0,416.0,0.0,31.75,Casa
19505,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,0.0,20.00,Apartamento

Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00

In [51]:
df = df[(df['Quartos'] == 4) & (df['Valor'] <= 2000.00)]
df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
1905,Casa,Campo Grande,4,1,4,100,1600.0,0.0,0.0,16.00,Casa
2267,Casa de Vila,Méier,4,0,1,85,1600.0,0.0,0.0,18.82,Casa
4100,Casa,Campo Grande,4,4,4,100,2000.0,0.0,2.0,20.00,Casa
6573,Casa,Riachuelo,4,0,1,100,1800.0,0.0,40.0,18.00,Casa
12864,Apartamento,Camorim,4,1,1,96,1350.0,747.0,0.0,14.06,Apartamento
14510,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,0.0,0.0,13.00,Casa
17658,Casa,Braz de Pina,4,1,0,99,1800.0,0.0,0.0,18.18,Casa
17830,Casa,Campo Grande,4,1,3,100,1600.0,0.0,0.0,16.00,Casa
18039,Casa de Condomínio,Freguesia (Jacarepaguá),4,3,1,63,2000.0,416.0,0.0,31.75,Casa
19505,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,0.0,20.00,Apartamento